{% extends "base.html" %}
{% block title %} {{ title }} {% endblock title %}
{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock head %}

{% block body %}
<h1>Files</h1>
<table class="table table-sm">
	<thead>
		<tr>
			<th scope="col"></th>
			<th scope="col">Name</th>
			<th scope="col">Last Access Time</th>
		</tr>
	</thead>
	<tbody>
		{% for entry, entry_path, last_access in entries %}
		<tr>
			<th scope="row">
				<i class="material-icons">{{ guesser(entry) }}</i>
			</th>
			<td>
				<a href="{{ url_for(endpoint, name=entry_path) }}">{{ entry }}</a>
			</td>
			<td>
				{{ last_access }}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock body %}
